* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.slider {
  width: 920px;
  height: 706px;
  margin: 0 auto;
  position: relative;
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 27px;
  z-index: 2;
}

.dots__item {
  width: 15px;
  height: 15px;
  margin: 0 .35rem;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #FFF;
  outline: 0;
  cursor: pointer;
}

.dots__item--active {
  background: #FFF;
}

.dots__item--visited {
  background: url(./dot.svg) center center/contain no-repeat;
  background-size: 60%;
}

.prev,
.next {  
  width: 58px;
  height: 58px;
  background: url(https://getinclusive-assets.s3.amazonaws.com/Hype/groundswell/Asked%20%26%20Answered/Asked%20%26%20Answered.hyperesources/PastedVector.svg) center center/contain no-repeat;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 44%;
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}

.controlls--inactive {
  opacity: 0.3;
  cursor: grab;
}

.prev {
  transform: rotate(180deg);
}

.prev:focus,
.next:focus {
  outline: 0;
}


.slide {
  position: relative;
}

.content {
  width: 508px;
  position: absolute;
  bottom: 70px;
  left: 100px;
  color: #FFF;
}

.title {
  font-size: 2.375rem;
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
}

.copy {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.arrow {
  width: 150px;
  height: 100px;
  background: url("https://getinclusive-assets.s3.amazonaws.com/Hype/groundswell/Asked%20%26%20Answered/Asked%20%26%20Answered.hyperesources/PastedVector-2.svg") center center/30% no-repeat;
  background-position: 80px 42px;
  position: absolute;
  top: 30%;
  right: 70px;
  color: #FFF;
  font-size: 42px;
  font-family: Tegami-One;
  transform-origin: 50% 50%;
  transform: rotate(352deg) rotateY(0deg);
}