* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.slider {
  width: 920px;
  height: 706px;
  margin: 0 auto;
  position: relative;
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 27px;
}

.dots__item {
  width: 15px;
  height: 15px;
  margin: 0 .35rem;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #FFF;
  outline: 0;
  cursor: pointer;
}

.dots__item--active {
  background: #FFF;
}

.controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.prev,
.next {  
  width: 58px;
  height: 58px;
  background: url(https://getinclusive-assets.s3.amazonaws.com/Hype/groundswell/Asked%20%26%20Answered/Asked%20%26%20Answered.hyperesources/PastedVector.svg) center center/contain no-repeat;
  border: 0;
  cursor: pointer;
}

.prev {
  transform: rotate(180deg);
}

.prev:focus,
.next:focus {
  outline: 0;
}

